# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# claude
.claude/settings.local.json
.claude/worktrees/

# dependencies
/node_modules

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pdf
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
