.root {
  border-width: 2px 0 0 0;
  border-color: rgba(0, 0, 0, 0.25);
  border-style: solid;
}

.title {
  font-weight: 700;
  left: 0;
  margin: 1rem;
  position: absolute;
  font-family: 'Encode Sans Condensed';
}
