@import url('normalize.css');
@import url('@picocss/pico');

body > header {
  text-align: center;

  hgroup div > *:not(:first-child) {
    margin-left: 1em;
  }


}

.container {
  max-width: 50em;
}

    address {
      display: inline;
    }

h2 {
  --pico-font-size: 1.375rem;
  text-transform: uppercase;
}

h3 {
  --pico-font-size: 1rem;
   --pico-line-height: 1.175;
   --pico-typography-spacing-top: 2.25rem;
}

article hgroup {
  h3 span {
    color: var(--pico-muted-color);
    font-weight: 400;

    &::before {
      content: ' | ';
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
