.root {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
}

.name {
  position: absolute;
  font-weight: 400;
  left: 0;
  margin: 0 1rem;
}
